<div class="mb-3">
  <div class="flex items-center gap-2 mb-1">
    <a
      class="btn btn-circle btn-ghost text-primary hover:bg-primary/10"
      routerLink="/refrees"
      (click)="onCancelRefree()"
      aria-label="Voltar para listagem"
    >
      <i class="ri-arrow-left-line text-lg"></i>
    </a>
    <h2 class="text-xl md:text-2xl lg:text-3xl font-bold text-primary">
      {{ refree ? 'Editar Árbitro' : 'Novo Árbitro' }}
    </h2>
  </div>
  <p
    class="text-xs sm:text-sm md:text-base text-muted-foreground max-w-prose break-words whitespace-normal pl-10"
  >
    Preencha as informações do árbitro para cadastro no sistema.
  </p>
</div>

<div
  class="bg-white rounded-xl p-5 md:p-8 border border-gray-200 shadow-lg space-y-4 w-full md:w-3/4 mx-auto"
>
  <!-- Indicador de Progresso -->
  <div class="w-full mb-4">
    <div class="flex justify-between mb-1">
      <span class="text-xs md:text-sm font-medium"
        ><i class="ri-steps-line mr-1"></i>Etapa {{ currentStep }} de
        {{ totalSteps }}</span
      >
      <span class="text-xs md:text-sm font-medium"
        >{{ (currentStep / totalSteps) * 100 }}%</span
      >
    </div>
    <div class="w-full bg-gray-200 rounded-full h-2">
      <div
        class="bg-primary h-2 rounded-full"
        [style.width.%]="(currentStep / totalSteps) * 100"
      ></div>
    </div>
  </div>

  <div class="space-y-4 md:space-y-6 p-0 md:p-5">
    <!-- Etapa 1: Informações Pessoais -->
    @if (currentStep === 1) {
      <app-refree-personal-info
        [initialData]="refreeData"
        (next)="onPersonalInfoNext($event)"
      ></app-refree-personal-info>
    }

    <!-- Etapa 2: Informações de Contato -->
    @if (currentStep === 2) {
      <app-contact-info-generic
        [initialData]="refreeData"
        (next)="onContactInfoNext($event)"
        (previous)="previousStep()"
      ></app-contact-info-generic>
    }

    <!-- Etapa 3: Informações Profissionais -->
    @if (currentStep === 3) {
      <app-refree-professional-info
        [initialData]="refreeData"
        (next)="onProfessionalInfoNext($event)"
        (previous)="previousStep()"
      ></app-refree-professional-info>
    }

    <!-- Etapa 4: Confirmação -->
    @if (currentStep === 4) {
      <app-refree-confirmation
        [refreeData]="refreeData"
        [photoPreview]="photoPreview"
        (submit)="onSubmit()"
        (previous)="previousStep()"
      ></app-refree-confirmation>
    }
  </div>
</div>
