<div class="mb-1">
  <div class="flex items-center justify-between gap-4">
    <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold text-primary">
      {{ player ? 'Editar Jogador' : 'Novo Jogador' }}
    </h2>
    <a class="btn btn-outline btn-primary gap-2" routerLink="/players">
      <i class="ri-arrow-left-line"></i>
      Voltar para Listagem
    </a>
  </div>
  <p
    class="text-xs sm:text-sm md:text-base lg:text-lg text-muted-foreground mt-2 max-w-prose break-words whitespace-normal"
  >
    Preencha as informações do jogador para inscrição no torneio.
  </p>
</div>

<div
  class="bg-white rounded-xl p-4 md:p-8 border border-gray-200 shadow-lg space-y-6"
>
  <!-- Indicador de Progresso -->
  <div class="w-full mb-6">
    <div class="flex justify-between mb-2">
      <span class="text-sm font-medium"
        ><i class="ri-steps-line mr-1"></i>Etapa {{ currentStep }} de
        {{ totalSteps }}</span
      >
      <span class="text-sm font-medium"
        >{{ (currentStep / totalSteps) * 100 }}%</span
      >
    </div>
    <div class="w-full bg-gray-200 rounded-full h-2.5">
      <div
        class="bg-primary h-2.5 rounded-full"
        [style.width.%]="(currentStep / totalSteps) * 100"
      ></div>
    </div>
  </div>

  <div class="space-y-4 md:space-y-6 p-0 md:p-6">
    <!-- Etapa 1: Dados Pessoais -->
    @if (currentStep === 1) {
      <app-personal-info
        [initialData]="playerData"
        (next)="onPersonalInfoNext($event)"
      ></app-personal-info>
    }

    <!-- Etapa 2: Informações de Contato -->
    @if (currentStep === 2) {
      <!-- <app-contact-info
        [initialData]="playerData"
        (next)="onContactInfoNext($event)"
        (previous)="previousStep()"
      ></app-contact-info> -->
      <app-contact-info-generic
        [initialData]="playerData"
        (next)="onContactInfoNext($event)"
        (previous)="previousStep()"
      ></app-contact-info-generic>
    }

    <!-- Etapa 3: Informações Esportivas -->
    @if (currentStep === 3) {
      <app-sport-info
        [initialData]="playerData"
        [teams]="teams"
        (next)="onSportInfoNext($event)"
        (previous)="previousStep()"
      ></app-sport-info>
    }

    <!-- Etapa 4: Informações de Saúde -->
    @if (currentStep === 4) {
      <app-health-info
        [initialData]="playerData"
        (next)="onHealthInfoNext($event)"
        (previous)="previousStep()"
      ></app-health-info>
    }

    <!-- Etapa 5: Confirmação -->
    @if (currentStep === 5) {
      <app-confirmation
        [playerData]="playerData"
        [photoPreview]="photoPreview"
        [positionLabel]="positionLabel"
        [teamName]="teamName"
        (submit)="onSubmit()"
        (previous)="previousStep()"
      ></app-confirmation>
    }
  </div>
</div>
