<div class="mb-3">
  <div class="flex items-center gap-2 mb-1">
    <a
      class="btn btn-circle btn-ghost text-primary hover:bg-primary/10"
      routerLink="/refrees"
      (click)="onCancelPlayer()"
      aria-label="Voltar para listagem"
    >
      <i class="ri-arrow-left-line text-lg"></i>
    </a>
    <h2 class="text-xl md:text-2xl lg:text-3xl font-bold text-primary">
      {{ player ? 'Editar Jogador' : 'Novo Jogador' }}
    </h2>
  </div>
  <p
    class="text-xs sm:text-sm md:text-base text-muted-foreground max-w-prose break-words whitespace-normal pl-10"
  >
    Preencha as informações do jogador para cadastro no sistema.
  </p>
</div>

<div
  class="bg-white rounded-xl p-5 md:p-8 border border-gray-200 shadow-lg space-y-4 w-full md:w-3/4 mx-auto"
>
  <!-- Indicador de Progresso -->
  <div class="w-full mb-6">
    <div class="flex justify-between mb-2">
      <span class="text-sm font-medium"
        ><i class="ri-steps-line mr-1"></i>Etapa {{ currentStep }} de
        {{ totalSteps }}</span
      >
      <span class="text-sm font-medium"
        >{{ (currentStep / totalSteps) * 100 }}%</span
      >
    </div>
    <div class="w-full bg-gray-200 rounded-full h-2.5">
      <div
        class="bg-primary h-2.5 rounded-full"
        [style.width.%]="(currentStep / totalSteps) * 100"
      ></div>
    </div>
  </div>

  <div class="space-y-4 md:space-y-6 p-0 md:p-6">
    <!-- Etapa 1: Dados Pessoais -->
    @if (currentStep === 1) {
      <app-personal-info
        [initialData]="playerData"
        (next)="onPersonalInfoNext($event)"
      ></app-personal-info>
    }

    <!-- Etapa 2: Informações de Contato -->
    @if (currentStep === 2) {
      <!-- <app-contact-info
        [initialData]="playerData"
        (next)="onContactInfoNext($event)"
        (previous)="previousStep()"
      ></app-contact-info> -->
      <app-contact-info-generic
        [initialData]="playerData"
        (next)="onContactInfoNext($event)"
        (previous)="previousStep()"
      ></app-contact-info-generic>
    }

    <!-- Etapa 3: Informações Esportivas -->
    @if (currentStep === 3) {
      <app-sport-info
        [initialData]="playerData"
        [teams]="teams"
        (next)="onSportInfoNext($event)"
        (previous)="previousStep()"
      ></app-sport-info>
    }

    <!-- Etapa 4: Informações de Saúde -->
    @if (currentStep === 4) {
      <app-health-info
        [initialData]="playerData"
        (next)="onHealthInfoNext($event)"
        (previous)="previousStep()"
      ></app-health-info>
    }

    <!-- Etapa 5: Confirmação -->
    @if (currentStep === 5) {
      <app-confirmation
        [playerData]="playerData"
        [photoPreview]="photoPreview"
        [positionLabel]="positionLabel"
        [teamName]="teamName"
        (submit)="onSubmit()"
        (previous)="previousStep()"
      ></app-confirmation>
    }
  </div>
</div>
