<div class="space-y-4">
  <h3 class="text-xl font-semibold text-primary mb-4">
    Informações de Contato
  </h3>

  <form [formGroup]="contactForm" class="space-y-4">
    <!-- Email -->
    <div class="form-control w-full mb-4">
      <label class="label">
        <span class="label-text">Email</span>
      </label>
      <input
        type="email"
        placeholder="Digite o email"
        class="input input-bordered w-full"
        [ngClass]="{
          'input-error': hasError('email', 'email'),
        }"
        formControlName="email"
      />
      @if (hasError('email', 'email')) {
        <label class="label">
          <span class="label-text-alt text-error">
            {{ getErrorMessage('email') }}
          </span>
        </label>
      }
    </div>

    <!-- Telefone -->
    <div class="form-control w-full mb-4">
      <label class="label">
        <span class="label-text">Telefone*</span>
      </label>
      <input
        type="tel"
        placeholder="(00) 00000-0000"
        class="input input-bordered w-full"
        [ngClass]="{
          'input-error':
            hasError('phone', 'required') || hasError('phone', 'pattern'),
        }"
        formControlName="phone"
      />
      @if (hasError('phone', 'required') || hasError('phone', 'pattern')) {
        <label class="label">
          <span class="label-text-alt text-error">
            {{ getErrorMessage('phone') }}
          </span>
        </label>
      }
    </div>

    <!-- Endereço -->
    <div class="form-control w-full mb-4">
      <label class="label">
        <span class="label-text">Endereço*</span>
      </label>
      <input
        type="text"
        placeholder="Digite o endereço completo"
        class="input input-bordered w-full"
        [ngClass]="{
          'input-error': hasError('address', 'required'),
        }"
        formControlName="address"
      />
      @if (hasError('address', 'required')) {
        <label class="label">
          <span class="label-text-alt text-error">
            {{ getErrorMessage('address') }}
          </span>
        </label>
      }
    </div>

    <!-- Botões de navegação -->
    <div class="flex justify-between items-center">
      <button type="button" class="btn btn-outline" (click)="onPrevious()">
        <i class="ri-arrow-left-line mr-2"></i> Voltar
      </button>
      <button type="button" class="btn btn-primary" (click)="onNext()">
        Próximo <i class="ri-arrow-right-line ml-2"></i>
      </button>
    </div>
  </form>
</div>
