<div class="auth-container">
  <div class="auth-box flex flex-col lg:flex-row">
    <div class="auth-logo-section">
      <div class="logo-container flex flex-col items-center justify-center">
        <h1>Reccos</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="120"
          height="120"
          fill="currentColor"
          class="mx-auto"
        >
          <path
            d="M12 2L1 9l11 7 9-5.8V17h2V9L12 2zm0 2.8L20.2 9 12 13.7 3.8 9 12 4.8z"
          />
          <path
            d="M8.4 14.4L1 18l11 6 11-6-7.4-3.6-3.6 2.2-3.6-2.2zm3.6 2.8L19 21l-7 3.8L5 21l7-3.8z"
          />
        </svg>
        <p>Gerenciamento de Torneios de Futebol</p>
      </div>
    </div>
    <div class="auth-content-section">
      <div class="auth-content-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
