/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
