<div class="flex h-screen bg-gray-100">
  <!-- Sidebar componentizada -->
  <app-sidebar
    [isSidebarOpen]="isSidebarOpen"
    [isSidebarExpanded]="isSidebarExpanded"
    [sidebarLinks]="sidebarLinks"
    (toggleSidebarEvent)="toggleSidebar()"
    (toggleSidebarExpansionEvent)="toggleSidebarExpansion()"
  ></app-sidebar>

  <!-- Conteúdo principal -->
  <div
    [class.md:pl-64]="isSidebarOpen && isSidebarExpanded"
    [class.md:pl-16]="isSidebarOpen && !isSidebarExpanded"
    class="flex flex-col flex-1 w-full transition-all duration-300"
  >
    <!-- Navbar componentizado -->
    <app-navbar
      [currentPageTitle]="currentPageTitle"
      [navbarLinks]="navbarLinks"
      [isSidebarOpen]="isSidebarOpen"
      (toggleSidebarEvent)="toggleSidebar()"
    ></app-navbar>

    <!-- Conteúdo da página -->
    <main class="flex-1 overflow-y-auto bg-gray-100 p-6">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
