<!-- Layout principal com sidebar, navbar e conteúdo -->
<div class="flex h-screen bg-gray-100 dark:bg-gray-900">
  <!-- Sidebar Component -->
  <app-sidebar
    [isSidebarOpen]="isSidebarOpen"
    [isSidebarExpanded]="isSidebarExpanded"
    [sidebarLinks]="sidebarLinks"
    (toggleSidebarEvent)="toggleSidebar()"
    (toggleSidebarExpansionEvent)="toggleSidebarExpansion()"
  ></app-sidebar>

  <!-- O overlay foi movido para o componente sidebar -->

  <!-- Conteúdo principal -->
  <div class="flex flex-col flex-1 overflow-hidden">
    <!-- Navbar Component -->
    <app-navbar
      [currentPageTitle]="currentPageTitle"
      [currentPageDescription]="currentPageDescription"
      [navbarLinks]="navbarLinks"
      [isSidebarOpen]="isSidebarOpen"
      (toggleSidebarEvent)="toggleSidebar()"
    ></app-navbar>

    <!-- Conteúdo da página usando router-outlet -->
    <main
      class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-100 dark:bg-gray-900 p-4"
    >
      <div class="container mx-auto px-2 sm:px-3 md:px-4 py-1 sm:py-2">
        <router-outlet></router-outlet>
      </div>
    </main>

    <!-- Componente de Toast para notificações -->
    <app-toast></app-toast>
  </div>
</div>
