<div class="mb-3">
  <div class="flex items-center gap-2 mb-1">
    <a
      class="btn btn-circle btn-ghost text-primary hover:bg-primary/10"
      routerLink="/refrees"
      (click)="onCancelLeague()"
      aria-label="Voltar para listagem"
    >
      <i class="ri-arrow-left-line text-lg"></i>
    </a>
    <h2 class="text-xl md:text-2xl lg:text-3xl font-bold text-primary">
      {{ league ? 'Editar Liga' : 'Nova Liga' }}
    </h2>
  </div>
  <p
    class="text-xs sm:text-sm md:text-base text-muted-foreground max-w-prose break-words whitespace-normal pl-10"
  >
    Preencha as informações da liga para cadastro no sistema.
  </p>
</div>

<div
  class="bg-white rounded-xl p-5 md:p-8 border border-gray-200 shadow-lg space-y-4 w-full md:w-3/4 mx-auto"
>
  <!-- Indicador de Progresso -->
  <div class="w-full mb-6">
    <div class="flex justify-between mb-2">
      <span class="text-sm font-medium"
        ><i class="ri-steps-line mr-1"></i>Etapa {{ currentStep }} de
        {{ totalSteps }}</span
      >
      <span class="text-sm font-medium"
        >{{ (currentStep / totalSteps) * 100 }}%</span
      >
    </div>
    <div class="w-full bg-gray-200 rounded-full h-2.5">
      <div
        class="bg-primary h-2.5 rounded-full"
        [style.width.%]="(currentStep / totalSteps) * 100"
      ></div>
    </div>
  </div>

  <div class="space-y-4 md:space-y-6 p-0 md:p-6">
    <!-- Etapa 1: Dados Pessoais -->
    @if (currentStep === 1) {
      <app-basic-info
        [initialData]="leagueData"
        (next)="onBasicInfoNext($event)"
      />
    }

    <!-- Etapa 2: Formato do Torneio -->
    @if (currentStep === 2) {
      <app-tournament-format
        [initialData]="leagueData"
        (next)="onTournamentFormatNext($event)"
        (previous)="previousStep()"
      />
    }

    <!-- Etapa 3: Seleção de Times -->
    @if (currentStep === 3) {
      <app-teams-selection
        [initialData]="leagueData"
        [teams]="teams"
        (next)="onTeamsSelectionNext($event)"
        (previous)="previousStep()"
      />
    }

    <!-- Etapa 4: Agenda do Torneio -->
    @if (currentStep === 4) {
      <app-tournament-schedule
        [initialData]="leagueData"
        (next)="onTournamentScheduleNext($event)"
        (previous)="previousStep()"
      />
    }

    <!-- Etapa 5: Confirmação -->
    @if (currentStep === 5) {
      STEP 5
    }
  </div>
</div>
